<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Test">
    <classes>
      <class name="testNG.NewTest"/>
      <class name="testNG.TestngClassA"/>
      <class name="testNG.Testngdp"/>
      <class name="testNG.TestngClassB"/>
      <class name="testNG.TestngClass8"/>
      <class name="testNG.TestngClass9"/>
      <class name="testNG.TestngClass4"/>
      <class name="testNG.TestngClass5"/>
      <class name="testNG.TestngClass6"/>
      <class name="testNG.TestNGListeners"/>
      <class name="testNG.TestngClass7"/>
      <class name="testNG.TestngClass1"/>
      <class name="testNG.TestngPara"/>
      <class name="testNG.TestngClass2"/>
      <class name="testNG.TestngClass3"/>
      <class name="testNG.TestNGListen"/>
      <class name="testNG.TestngClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
